body {
    background-color: #F5F5F5;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: center;
}

.leftside {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

.rightside {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 450px;
    margin-top: 150px;
    height: fit-content;
}

.rightside .logo {
    display: none;
}

.logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.signinupbtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    width: inherit;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.signinupbtns {
    width: inherit;
    height: 35px;
    background-color: #f0f0f0;
    margin: 20px
}

.signinupbtns button {
    flex: 1;
    border: none;
    background: transparent;
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 500;
    margin: 0px 2px 0px 2px;

}

.signinupbtns button.active {
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;

}

.inputslot {

    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    font-size: 14px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    margin: 5px 0px 10px;
}

.inputslot input {
    border: none;
    background-color: transparent;
    /* padding: 1; */
    width: 90%;

}

.inputslot input:focus {
    outline: none;
    border: none;
}

.sign_in_up_forms {
    display: flex;
    flex-direction: column;
    /*width: inherit;*/
    display: none;
}

i {
    color: #999;
    margin-right: 10px;
}

.submit-buttons {
    font-size: 14px;
    color: white;
    border: none;
    width: 90%;
    background-color: #FF914D;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    margin: 30px;
}

.submit-buttons:hover {
    background-color: #fc995c;

}

#viewpassword {
    background-color: transparent;
    border: none;
}

#backhomebtn {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    width: 200px;
}

.passwordslot {
    display: flex;
    justify-content: space-around;
}

#backhomebtn:hover {
    background-color: #f0f0f0;
}

.agree {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 900px) {
    .leftside {
        display: none;
    }

    .rightside {
        width: 100%;
        justify-content: center;
        margin: 10px;
    }

    .rightside .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
    }

    .logo p {
        font-size: 20px;
    }

}