*
{
    margin: 0;
}

a
{
    text-decoration: none;
    color: black;
}

.logo a
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.navbar
{
    margin: 10px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* .nav-buttons
{
    margin-left: 150px;
    margin-right: 180px;
} */

.nav-buttons a
{
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 2px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: background-color 0.12s ease;
}

.nav-buttons a:hover
{
    background-color: #f0f0f0;
}

i
{
    color: grey;
    margin-right: 10px;
}

.signinupbtns a
{
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding:10px 20px 10px 20px;
    margin: 2px;
    margin-left: 2px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

#Login
{
    border: 1px solid;
    border-color: #FF914D;
    color: #FF914D;
   
}

#Login:hover
{
    background-color: #FF914D;
    color: white;
}


#Sign-up
{
    background-color: #FF914D;
    color: white;
    padding-top: 11px;
}

.nav-buttons a.active
{
    color: white;
    background-color: #FF914D;
}

.nav-buttons a.active i
{
    color: white;
}

#Login i{
    color: #FF914D;
}

#Login:hover i
{
    color: white;
}

@media (max-width: 600px)
{
    .navbar .nav-buttons
    {
        order: 3;
        display: flex; /* Add this */
        width: 100%; /* Add this to take full width */
    }

    .navbar .signinupbtns
    {
        order: 2;
    }

    .navbar 
    {
        flex-wrap: wrap;
    }

    .nav-buttons
    {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-buttons button
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        color: grey;
        font-size: 12px;
        
    }

    .navbar button.active
    {
        color: #FF914D;
        background-color: white;
        
    }

    .navbar button.active i
    {
        color: #FF914D;
    }

    #Login
    {
        display: none;
    }
}